## Auxiliar Notebook to help the webapp and unsupervised learning be deployed interactively

In [1]:
import pandas as pd
import numpy as np
import pickle
from matplotlib import pyplot as plt

import warnings
warnings.filterwarnings(action='ignore')

from sklearn.decomposition import NMF

#### 1. First, concatenating the movies and ratings dataframes

In [2]:
ratings = pd.read_csv('../data/ratings.csv')
ratings = ratings.drop(['timestamp'], axis=1)
ratings

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [3]:
movies = pd.read_csv('../data/movies.csv')
movies = movies.drop(['genres'], axis=1)
movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [4]:
merged = pd.merge(movies, ratings, on='movieId')
merged

        movieId                                      title  userId  rating
0             1                           Toy Story (1995)       1     4.0
1             1                           Toy Story (1995)       5     4.0
2             1                           Toy Story (1995)       7     4.5
3             1                           Toy Story (1995)      15     2.5
4             1                           Toy Story (1995)      17     4.5
...         ...                                        ...     ...     ...
100831   193581  Black Butler: Book of the Atlantic (2017)     184     4.0
100832   193583               No Game No Life: Zero (2017)     184     3.5
100833   193585                               Flint (2017)     184     3.5
100834   193587        Bungo Stray Dogs: Dead Apple (2018)     184     3.5
100835   193609        Andrew Dice Clay: Dice Rules (1991)     331     4.0

[100836 rows x 4 columns]

In [5]:
users_rating = pd.pivot_table(merged, index='userId', columns='title', values='rating')
users_rating

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [6]:
#Dropping the movies with less than 50 ratings.
#In other words, talking only the movies that the where rated more than 50 times, 
#as a way to free ourselves from computation time
users_rating = users_rating.dropna(thresh=50, axis=1)
users_rating

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,5.0,5.0,NaN,5.0,NaN,NaN,NaN,5.0,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN
4,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,5.0,NaN,NaN,NaN,3.5,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.5,3.5,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,3.0,3.5,5.0,NaN,4.5,3.0,3.5,2.0,...,3.5,2.5,NaN,4.0,4.0,4.0,NaN,NaN,NaN,3.0
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,NaN,NaN,4.5,5.0,4.0,4.5,3.5,4.0,3.0,NaN,...,NaN,3.5,4.5,3.5,3.0,4.0,NaN,NaN,3.5,4.0

In [10]:
users_rating.mean()

title
10 Things I Hate About You (1999)    3.527778
12 Angry Men (1957)                  4.149123
2001: A Space Odyssey (1968)         3.894495
28 Days Later (2002)                 3.974138
300 (2007)                           3.681250
                                       ...
X2: X-Men United (2003)              3.723684
You've Got Mail (1998)               3.120000
Young Frankenstein (1974)            3.992754
Zombieland (2009)                    3.877358
Zoolander (2001)                     3.509259
Length: 450, dtype: float64

In [11]:
ratings_mean = users_rating.mean()
users_rating_imputed = users_rating.fillna(value= ratings_mean)
users_rating_imputed

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,4.000000,3.040373,2.727273,...,5.00000,5.000000,3.916667,5.000000,3.355769,3.723684,3.12,5.000000,3.877358,3.509259
2,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,5.000000,3.699248,3.355769,3.723684,3.12,3.992754,3.000000,3.509259
3,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,0.50,3.992754,3.877358,3.509259
4,3.527778,5.000000,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,4.00000,5.000000,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
5,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.000000,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.527778,4.149123,5.000000,3.974138,3.68125,3.547297,3.500000,3.475806,3.040373,2.000000,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.50,3.500000,3.877358,3.509259
607,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,5.000000,3.916667,3.000000,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
608,3.527778,4.149123,3.000000,3.500000,5.00000,3.547297,4.500000,3.000000,3.500000,2.000000,...,3.50000,2.500000,3.916667,4.000000,4.000000,4.000000,3.12,3.992754,3.877358,3.000000
609,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
610,3.527778,4.149123,4.500000,5.000000,4.00000,4.500000,3.500000,4.000000,3.000000,2.727273,...,3.87395,3.500000,4.500000,3.500000,3.000000,4.000000,3.12,3.992754,3.500000,4.000000

In [25]:
users_rating_imputed.to_csv('ratings.csv')

#### 2. Next steps:
1. Follow the NMF guide to factorize and save the Model in a .pkl
2. Follow the cosine similarity notebook and adapt it also to the users_rating_imputed data frame
3. Put all cleaned and essential steps in the functions taking the user queries
4. Look Alis notebooks for help given the case

In [ ]:
factorizer = NMF(n_components=450, max_iter=4000)
factorizer.fit(users_rating_imputed)
factorizer.reconstruction_err_

1.0301726268190194

In [ ]:
def NMF_fit():
    #I want to keep this inside a function to not have to call this process again
    #Because it laste 27 minutes
    #This way I found bareable hyperparameters after several tries
    factorizer = NMF(n_components=450, max_iter=4000)
    factorizer.fit(users_rating_imputed)
    factorizer.reconstruction_err_

In [ ]:
def minimal_error_plot():
    # find k with minimal reconstruction_err
    # Written by Saleh:)
    k_list = []
    err_list = []
    for k in range(250, min(users_rating_imputed.shape)): # k << min(m,n) with m x n = size(R)  
        # Instatiate the NMF model
        factorizer = NMF(n_components=k, max_iter=1)

        # Fit the model on the full imputed user/movie dataframe/matrix
        factorizer.fit(users_rating_imputed)

        # save and print k and err
        k_list.append(k)
        err = round(factorizer.reconstruction_err_, 2)
        err_list.append(err)
        print(f"k = {k}, err = {err}")
    # plot it
    plt.plot(k_list, err_list)
    plt.xlabel("k")
    plt.ylabel("error")
    plt.title("find the optimal number of components k")

In [ ]:
Q = pd.DataFrame(factorizer.components_ #The actual Q but as a bidimensial numpy array
                 ,columns = users_rating_imputed.columns)
Q

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
0,0.827956,1.171025,0.941614,1.077769,0.880602,0.80415,0.821580,0.919889,0.480037,0.479314,...,0.875100,1.016807,1.087485,0.940651,0.906733,0.990360,0.796754,1.106525,0.851356,0.954195
1,0.028412,0.005322,0.000000,0.000000,0.058383,0.00000,0.033592,0.005596,0.000000,0.000000,...,0.000000,0.004095,0.010738,0.009238,0.020991,0.000000,0.000920,0.023011,0.123919,0.000000
2,0.000000,0.000000,0.000000,0.075534,0.105551,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.012201,0.019453,0.165617,0.000000,0.083132,0.003293,0.000000,0.000000,0.024312
3,0.000000,0.521578,0.763738,0.000000,0.626006,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.611440,0.000000,0.000000,0.003585,0.007204,0.000000,0.020664,0.027539,0.000000
4,0.000000,0.000000,0.000111,0.030792,0.000000,0.00000,0.000000,0.000575,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.024974,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,0.000000,0.321886,0.000000,0.616628,0.717807,0.00000,0.319061,0.255469,0.000000,0.352463,...,0.000000,0.358624,0.000000,0.000000,0.108059,0.000000,0.625884,1.006539,0.702279,0.393390
446,0.000000,0.000000,0.006785,0.000000,0.000000,0.00000,0.028897,0.016890,0.098915,0.002857,...,0.000000,0.002128,0.012146,0.000000,0.000000,0.000000,0.000000,0.072212,0.001845,0.210701
447,0.000000,0.000000,0.000000,0.015157,0.006941,0.00000,0.050659,0.122132,0.000000,0.012393,...,0.000000,0.089408,0.000000,0.000000,0.032590,0.024254,0.122757,0.000000,0.000000,0.015286
448,3.616217,0.000000,0.000000,0.000000,0.000000,8.37256,0.590597,0.000000,0.000000,0.278259,...,3.664370,2.184824,0.000000,0.556968,0.000000,0.399358,0.105457,0.267088,0.219038,0.126806
449,0.000000,0.924466,0.604096,0.489415,1.164309,0.00000,0.000000,0.453246,0.000000,0.098742,...,0.703283,0.053197,0.356198,0.000000,0.306426,0.423554,0.000000,0.563198,0.000000,0.314873

In [ ]:
#Skipping this cuz takes too long
#P = factorizer.transform(users_rating_imputed)
#P = pd.DataFrame(P
#                 ,index= users_rating_imputed.index)

KeyboardInterrupt:

In [26]:
MOVIES = users_rating_imputed.columns
USERS = users_rating_imputed.index

In [27]:
pd.DataFrame(MOVIES).to_csv('movies.csv')

In [ ]:
with open('factorizer_NMF.pkl', 'wb') as file_out:
    pickle.dump(factorizer, file_out)

In [28]:
with open('factorizer_NMF.pkl', 'rb') as file_in:
    fitted_model = pickle.load(file_in)

In [29]:
user_initial_ratings = {
    '2001: A Space Odyssey (1968)': 5,
    'American Psycho (2000)': 2,
    'Almost Famous (2000)': 3.5
}

In [30]:
user_input = pd.DataFrame(user_initial_ratings, index = ['new_user'], columns= MOVIES)
user_input.iloc[:,:25]

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Aliens (1986),Almost Famous (2000),Amadeus (1984),"Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",American Beauty (1999),American History X (1998),American Pie (1999),"American President, The (1995)",American Psycho (2000),Anchorman: The Legend of Ron Burgundy (2004)
new_user,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.5,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN

user_imput

In [ ]:
user_input_imputed = user_input.fillna(value= users_rating.mean())
assert user_input_imputed.isna().sum().sum() == 0
user_input_imputed

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
new_user,3.527778,4.149123,5,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259

In [ ]:
P_user = fitted_model.transform(user_input_imputed)
P_user

array([[4.20500790e-01, 4.71397797e-01, 8.47352348e-01, 8.98417962e-02,
        3.57560478e+00, 5.45680018e-01, 5.04302858e-01, 4.26908678e-01,
        1.81062996e-01, 9.08699448e-01, 9.69329277e-02, 1.07787676e-01,
        3.36957962e-01, 3.69728858e-01, 5.47891975e-02, 9.78894194e-02,
        3.06658474e-01, 1.86344959e-01, 7.80408740e-02, 1.37487769e-01,
        1.20439224e-01, 1.02363080e-01, 3.44202805e-01, 2.23299973e-01,
        2.21837172e-02, 1.97055153e-01, 7.22492904e-02, 1.25421734e-01,
        1.12346312e-01, 2.35496483e-01, 2.02960151e-01, 1.33115800e-01,
        1.53337516e-01, 7.05609235e-02, 7.33015962e-02, 3.96714388e-02,
        6.62986166e-02, 1.46859853e-01, 2.83535498e-02, 6.61077729e-02,
        1.20908719e-01, 1.02968419e-02, 1.54714347e-01, 5.31758068e-02,
        1.36356875e-01, 6.54392810e-02, 2.68811741e-01, 1.46318620e-01,
        4.37032627e-02, 6.33942945e-02, 1.61647264e-01, 1.86833626e-02,
        6.18915244e-02, 2.09666711e-01, 1.29002321e-01, 5.11768453e-02,
        8.42959196e-02, 1.76620898e-01, 6.51057120e-02, 7.18477284e-03,
        9.45459013e-01, 6.39982106e-02, 1.70102505e-01, 0.00000000e+00,
        1.73760435e-02, 2.32445687e-02, 1.22126825e-01, 4.41670730e-02,
        2.02142422e-01, 4.97234369e-02, 0.00000000e+00, 1.10626134e-01,
        2.86905936e-02, 8.11924192e-02, 0.00000000e+00, 3.34381499e-01,
        0.00000000e+00, 1.32384499e-01, 2.70149070e-02, 3.81458438e-02,
        6.39331893e-01, 2.78083303e-02, 1.92463439e-01, 5.26782777e-02,
        7.24156414e-02, 1.76129142e-03, 1.02542702e-01, 3.07129539e-02,
        1.30123699e-01, 1.91074718e-01, 1.26198791e-02, 5.37525922e-01,
        6.38944147e-02, 8.75551251e-03, 9.35078569e-02, 2.23123786e-01,
        4.26240930e-02, 7.74067404e-03, 3.68786322e-02, 0.00000000e+00,
        1.45586485e-01, 1.08097633e-01, 3.11425353e-01, 1.73676085e-01,
        2.68499386e-02, 3.02571371e-01, 8.92365111e-02, 1.85685689e-01,
        5.62744689e-03, 5.79727677e-02, 3.04570146e-02, 0.00000000e+00,
        3.52983039e-01, 1.22259051e-01, 5.49962106e-02, 5.14333758e-02,
        6.97049748e-02, 2.51089435e-01, 2.22332521e-02, 1.31608814e-02,
        1.97015571e-01, 8.41037874e-02, 9.64504286e-03, 2.14532739e-01,
        1.41386288e-01, 1.61255380e-01, 5.43409561e-03, 4.69281817e-02,
        3.80195093e-02, 5.60667386e-03, 1.85795823e-01, 3.69659925e-02,
        0.00000000e+00, 1.40060464e-01, 1.39768992e-02, 5.46751465e-02,
        4.27572581e-01, 5.53542594e-02, 1.03223153e-01, 3.84162419e-02,
        8.96453533e-01, 0.00000000e+00, 3.12810968e-02, 2.04706358e-02,
        1.92218553e-01, 1.74435313e-01, 1.52546315e-01, 4.84299666e-02,
        2.23521138e-01, 5.82430060e-02, 9.55329213e-02, 0.00000000e+00,
        9.34878567e-03, 3.87034278e-01, 1.20721791e-02, 2.63083996e-01,
        5.91367407e-02, 6.09364954e-03, 0.00000000e+00, 1.36910593e-01,
        0.00000000e+00, 9.64561162e-03, 6.28148825e-02, 1.01940122e-02,
        7.03687298e-02, 0.00000000e+00, 1.61849738e-01, 3.35633839e-01,
        1.59233342e-02, 1.45562307e-01, 1.31880348e-01, 2.15038965e-01,
        3.66135701e-02, 6.51421450e-04, 2.73075638e-02, 4.12809336e-02,
        9.07603929e-02, 7.39314514e-01, 3.73990233e-03, 4.61406903e-02,
        2.34522176e-01, 1.10704405e-01, 6.57135808e-02, 5.96340348e-03,
        1.73014216e-02, 3.70967950e-02, 8.64054938e-01, 4.78915128e-01,
        1.74202346e-02, 2.60622692e-02, 0.00000000e+00, 4.50698907e-01,
        6.38678141e-02, 5.35057471e-02, 4.13173943e-01, 1.58473425e-01,
        1.00578073e-01, 2.05680601e-02, 2.16408344e-02, 2.25773642e-02,
        1.93151486e-01, 0.00000000e+00, 3.05515825e-02, 6.23738886e-02,
        2.60793812e-02, 8.42990078e-02, 7.99226362e-03, 1.26019702e-01,
        2.64721322e-02, 3.67488660e-02, 1.16986952e-01, 3.17522646e-02,
        1.51404234e-01, 5.33720020e-02, 1.12214615e-02, 2.75825904e-02,
        1.91648298e-02, 3.84362355e-02, 6.70383547e-02, 7.79567782e-02,
        1.59552886e-01, 3.56550572e-01, 3.58842854e-01, 2.87780456e-02,
        6.36579294e-02, 1.04630373e-02, 0.00000000e+00, 9.96332613e-02,
        1.61749298e-02, 2.07715990e-01, 4.97045129e-02, 2.44630234e-01,
        2.76854600e-01, 1.71110994e-02, 3.11730026e-03, 7.06746406e-02,
        1.46665355e-01, 0.00000000e+00, 2.81764383e-02, 4.00463136e-02,
        0.00000000e+00, 1.24392762e-02, 2.11402422e-02, 6.10465969e-02,
        6.27470993e-03, 0.00000000e+00, 5.92651552e-01, 1.90680405e-01,
        4.03225803e-03, 1.49889449e-01, 2.03735337e-02, 0.00000000e+00,
        1.42296036e-01, 0.00000000e+00, 8.62010424e-02, 3.04471713e-01,
        1.77250521e-01, 2.34476245e-01, 2.77288149e-01, 1.77321378e-02,
        2.03181790e-01, 8.06117537e-02, 2.44083980e-02, 2.42104571e-02,
        0.00000000e+00, 1.18303390e-02, 0.00000000e+00, 4.61046407e-01,
        1.95522122e-01, 3.51772285e-02, 6.69385404e-02, 4.16192003e-03,
        7.39251408e-01, 5.68872062e-02, 2.10896837e-01, 1.63335874e-01,
        2.06653384e-02, 8.30900352e-02, 6.86821662e-02, 3.79423907e-01,
        1.19321437e-01, 1.19856692e-03, 0.00000000e+00, 2.89378310e-01,
        1.68816681e-01, 3.19639682e-02, 2.10017149e-01, 8.08153630e-03,
        9.54452423e-02, 1.15123319e-01, 1.43396565e-01, 3.14883471e-02,
        1.90830335e-02, 5.98249485e-01, 6.14695605e-01, 3.15595603e-01,
        2.10122992e-01, 0.00000000e+00, 4.22540875e-01, 5.44635885e-02,
        4.65897762e-02, 5.34939885e-01, 1.88805563e-01, 5.87813265e-01,
        2.56165687e-01, 4.79532560e-02, 1.66018961e-01, 2.98557063e-02,
        3.83023684e-02, 4.54372640e-01, 2.53747067e-01, 1.46938969e-01,
        0.00000000e+00, 9.37795663e-02, 1.58999727e-02, 0.00000000e+00,
        1.30514471e-01, 1.34022705e-01, 0.00000000e+00, 1.56507022e-02,
        1.50104320e-03, 3.80263316e-02, 1.65101169e-01, 1.89938001e-01,
        8.16449947e-03, 1.25390051e-01, 2.21432086e-01, 4.37212926e-02,
        2.32958480e-01, 3.71989701e-03, 0.00000000e+00, 6.29155961e-03,
        3.04719180e-01, 7.71038714e-02, 4.99573637e-01, 1.03820543e-02,
        1.84722868e-01, 8.34039260e-03, 8.95049289e-02, 1.50700094e-01,
        3.31178613e-02, 8.21338904e-02, 1.62900154e-01, 3.75737206e-02,
        8.41292864e-02, 7.63172375e-02, 5.35221402e-02, 0.00000000e+00,
        4.00511734e-02, 0.00000000e+00, 4.74480845e-02, 2.01016224e-01,
        3.67266535e-02, 6.86401595e-01, 9.88539317e-03, 5.41455986e-02,
        1.79063992e-01, 5.20909437e-01, 1.91134973e-01, 7.60150444e-02,
        9.33631088e-03, 5.81875968e-02, 6.34460106e-02, 0.00000000e+00,
        1.20515057e-02, 3.54719088e-01, 1.80816464e-02, 2.54186399e-02,
        2.52980921e-01, 4.28021070e-01, 4.13533255e-03, 5.45350815e-02,
        1.21454722e-01, 0.00000000e+00, 3.06136060e-02, 6.26649786e-02,
        2.53138910e-01, 1.05271776e-01, 7.05455871e-03, 4.83686070e-02,
        4.70667132e-01, 2.03344981e-02, 7.71898533e-03, 2.13870892e-01,
        1.44258700e-03, 4.97875782e-03, 2.74779179e-03, 1.01437112e-01,
        4.16432367e-02, 3.32836075e-03, 0.00000000e+00, 6.48741885e-01,
        5.34710533e-02, 0.00000000e+00, 0.00000000e+00, 1.28419484e-01,
        2.93043934e-02, 1.03539303e-01, 0.00000000e+00, 3.21297435e-02,
        8.75940320e-02, 1.33895050e-01, 2.62069693e-02, 1.35695682e-02,
        2.95307760e-01, 1.02917992e-01, 9.71644388e-02, 4.12144536e-01,
        1.23979733e-01, 1.16163534e-01, 1.86580948e-01, 1.28072468e-01,
        4.38142103e-02, 1.03196088e-01, 7.76246062e-02, 1.79443425e-02,
        5.07004914e-02, 6.90823794e-02, 3.11137839e-02, 2.31765299e-02,
        8.64334817e-02, 2.47211065e-01, 1.28687221e-01, 2.54310054e-01,
        1.23889645e-01, 1.00270813e-01, 0.00000000e+00, 2.58356764e-03,
        3.11216780e-02, 2.06593805e-01, 0.00000000e+00, 9.15286664e-03,
        2.76703741e-01, 3.85344577e-01, 2.48893735e-02, 4.27019470e-01,
        2.52146370e-03, 3.99276397e-02, 1.78817798e-02, 1.51755722e-01,
        5.24107573e-02, 0.00000000e+00, 1.02459349e-01, 0.00000000e+00,
        2.01065917e-01, 0.00000000e+00, 4.14199111e-02, 0.00000000e+00,
        2.14519084e-03, 0.00000000e+00]])

In [ ]:
P_user = pd.DataFrame(P_user, index = ['new_user'])
P_user

,0,1,2,3,4,5,6,7,8,9,...,440,441,442,443,444,445,446,447,448,449
new_user,0.420501,0.471398,0.847352,0.089842,3.575605,0.54568,0.504303,0.426909,0.181063,0.908699,...,0.052411,0.0,0.102459,0.0,0.201066,0.0,0.04142,0.0,0.002145,0.0

In [ ]:
R_user_hat = np.dot(P_user, Q)
R_user_hat = pd.DataFrame(R_user_hat, columns=MOVIES, index=['new_user'])
R_user_hat

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
new_user,3.521399,4.154158,4.927308,3.961395,3.701293,3.597298,3.332946,3.423854,3.035459,2.735808,...,3.877531,3.892774,3.914815,3.675806,3.393147,3.73626,3.132983,3.993581,3.831856,3.537366

In [ ]:
R_user_hat_transposed = R_user_hat.T.sort_values(by='new_user', ascending=False)
R_user_hat_transposed

                                                    new_user
title
2001: A Space Odyssey (1968)                        4.927308
Shawshank Redemption, The (1994)                    4.413408
Godfather, The (1972)                               4.318901
Rear Window (1954)                                  4.296811
Fight Club (1999)                                   4.281584
...                                                      ...
Judge Dredd (1995)                                  2.670494
City Slickers II: The Legend of Curly's Gold (1...  2.635329
Coneheads (1993)                                    2.411916
American Psycho (2000)                              2.357011
Wild Wild West (1999)                               2.165299

[450 rows x 1 columns]

In [ ]:
user_initial_ratings_list = list(user_initial_ratings.keys())
user_initial_ratings_list

['2001: A Space Odyssey (1968)',
 'American Psycho (2000)',
 'Almost Famous (2000)']

In [ ]:
recommendables = list(R_user_hat_transposed.index)
recommendables

['2001: A Space Odyssey (1968)',
 'Shawshank Redemption, The (1994)',
 'Godfather, The (1972)',
 'Rear Window (1954)',
 'Fight Club (1999)',
 'Cool Hand Luke (1967)',
 'Godfather: Part II, The (1974)',
 'Goodfellas (1990)',
 'Casablanca (1942)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Reservoir Dogs (1992)',
 "Schindler's List (1993)",
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Chinatown (1974)',
 'American History X (1998)',
 'Departed, The (2006)',
 'Apocalypse Now (1979)',
 'Matrix, The (1999)',
 'Dark Knight, The (2008)',
 'Usual Suspects, The (1995)',
 'Princess Bride, The (1987)',
 'Amadeus (1984)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Pulp Fiction (1994)',
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 'Monty Python and the Holy Grail (1975)',
 'North by Northwest (1959)',
 'Forrest Gump (1994)',
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 'Brazil (1985)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'Green Mile, The (1999)',
 '12 Angry Men (1957)',
 'Inglourious Basterds (2009)',
 'Saving Private Ryan (1998)',
 'City of God (Cidade de Deus) (2002)',
 'Silence of the Lambs, The (1991)',
 'Blade Runner (1982)',
 'Toy Story 3 (2010)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Memento (2000)',
 'Snatch (2000)',
 'Full Metal Jacket (1987)',
 'To Kill a Mockingbird (1962)',
 'Fargo (1996)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Shining, The (1980)',
 'Office Space (1999)',
 'Graduate, The (1967)',
 'L.A. Confidential (1997)',
 'Taxi Driver (1976)',
 'Lost in Translation (2003)',
 'American Beauty (1999)',
 'Good Will Hunting (1997)',
 'Inception (2010)',
 "It's a Wonderful Life (1946)",
 'Citizen Kane (1941)',
 'Indiana Jones and the Last Crusade (1989)',
 'Trainspotting (1996)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'WALL·E (2008)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Stand by Me (1986)',
 'Psycho (1960)',
 'Dark Knight Rises, The (2012)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Guardians of the Galaxy (2014)',
 'Back to the Future (1985)',
 "King's Speech, The (2010)",
 'Army of Darkness (1993)',
 'Up (2009)',
 'Braveheart (1995)',
 'Run Lola Run (Lola rennt) (1998)',
 'Vertigo (1958)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Jaws (1975)',
 'Hot Fuzz (2007)',
 'Shutter Island (2010)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Some Like It Hot (1959)',
 'Prestige, The (2006)',
 'Clockwork Orange, A (1971)',
 'Beautiful Mind, A (2001)',
 'Young Frankenstein (1974)',
 'Raising Arizona (1987)',
 'Sting, The (1973)',
 'Social Network, The (2010)',
 'Platoon (1986)',
 'This Is Spinal Tap (1984)',
 'Interstellar (2014)',
 'The Imitation Game (2014)',
 'Shaun of the Dead (2004)',
 'Terminator 2: Judgment Day (1991)',
 'Lion King, The (1994)',
 'Dead Poets Society (1989)',
 'Kill Bill: Vol. 1 (2003)',
 'Finding Nemo (2003)',
 'Children of Men (2006)',
 'Aliens (1986)',
 'Alien (1979)',
 '28 Days Later (2002)',
 'Donnie Darko (2001)',
 'Fugitive, The (1993)',
 'Christmas Story, A (1983)',
 'Seven (a.k.a. Se7en) (1995)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Being John Malkovich (1999)',
 'Untouchables, The (1987)',
 'Serenity (2005)',
 'Scarface (1983)',
 'Groundhog Day (1993)',
 'Requiem for a Dream (2000)',
 'Big Lebowski, The (1998)',
 'Toy Story (1995)',
 'Blazing Saddles (1974)',
 'Django Unchained (2012)',
 "Monty Python's Life of Brian (1979)",
 'Catch Me If You Can (2002)',
 'Casino Royale (2006)',
 'Gladiator (2000)',
 'How to Train Your Dragon (2010)',
 'Heat (1995)',
 'Wolf of Wall Street, The (2013)',
 'Gattaca (1997)',
 'Fish Called Wanda, A (1988)',
 'V for Vendetta (2006)',
 'Star Trek (2009)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Harry Potter and the Order of the Phoenix (2007)',
 'Ratatouille (2007)',
 'Sound of Music, The (1965)',
 'Casino (1995)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 'Sixth Sense, The (1999)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'Wizard of Oz, The (1939)',
 'Shrek (2001)',
 'Little Miss Sunshine (2006)',
 'Crash (2004)',
 'Mary Poppins (1964)',
 'Star Trek: First Contact (1996)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'No Country for Old Men (2007)',
 'Avengers, The (2012)',
 'Die Hard (1988)',
 'Terminator, The (1984)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Superbad (2007)',
 'Last Samurai, The (2003)',
 'Annie Hall (1977)',
 'Jungle Book, The (1967)',
 "Ferris Bueller's Day Off (1986)",
 'Dances with Wolves (1990)',
 'Hunt for Red October, The (1990)',
 'Traffic (2000)',
 'Apollo 13 (1995)',
 'Caddyshack (1980)',
 'Bourne Identity, The (2002)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Truman Show, The (1998)',
 'Monsters, Inc. (2001)',
 'Kill Bill: Vol. 2 (2004)',
 'Toy Story 2 (1999)',
 'Blues Brothers, The (1980)',
 'Batman Begins (2005)',
 'Million Dollar Baby (2004)',
 'Airplane! (1980)',
 'Black Hawk Down (2001)',
 'Zombieland (2009)',
 "Ocean's Eleven (2001)",
 'Dead Man Walking (1995)',
 'Sherlock Holmes (2009)',
 'Sin City (2005)',
 'Deadpool (2016)',
 'Big Fish (2003)',
 'Spider-Man 2 (2004)',
 'O Brother, Where Art Thou? (2000)',
 'Fantasia (1940)',
 'Clerks (1994)',
 'Exorcist, The (1973)',
 'Iron Man (2008)',
 'Goldfinger (1964)',
 'Tombstone (1993)',
 'When Harry Met Sally... (1989)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'E.T. the Extra-Terrestrial (1982)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Shakespeare in Love (1998)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Slumdog Millionaire (2008)',
 'Incredibles, The (2004)',
 'Blow (2001)',
 'Aladdin (1992)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Sense and Sensibility (1995)',
 'Bowling for Columbine (2002)',
 'Tommy Boy (1995)',
 'Few Good Men, A (1992)',
 'Close Encounters of the Third Kind (1977)',
 'True Romance (1993)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'District 9 (2009)',
 'Love Actually (2003)',
 'Rain Man (1988)',
 'Breakfast Club, The (1985)',
 'Beauty and the Beast (1991)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 "What's Eating Gilbert Grape (1993)",
 'Mystic River (2003)',
 'Planet of the Apes (1968)',
 'Fifth Element, The (1997)',
 'Donnie Brasco (1997)',
 'Bourne Supremacy, The (2004)',
 'Grand Budapest Hotel, The (2014)',
 'Juno (2007)',
 'Mulholland Drive (2001)',
 'Blood Diamond (2006)',
 'Jurassic Park (1993)',
 'Rocky (1976)',
 'Full Monty, The (1997)',
 'Training Day (2001)',
 'X2: X-Men United (2003)',
 'Big (1988)',
 "Mr. Holland's Opus (1995)",
 'Ice Age (2002)',
 'Skyfall (2012)',
 "There's Something About Mary (1998)",
 'Animal House (1978)',
 "Bridget Jones's Diary (2001)",
 '300 (2007)',
 'Edward Scissorhands (1990)',
 'As Good as It Gets (1997)',
 'In the Line of Fire (1993)',
 'Game, The (1997)',
 'Ed Wood (1994)',
 'American President, The (1995)',
 'Cast Away (2000)',
 'X-Men (2000)',
 'Contact (1997)',
 'Bourne Ultimatum, The (2007)',
 'Total Recall (1990)',
 'High Fidelity (2000)',
 'Superman (1978)',
 'Others, The (2001)',
 'Rock, The (1996)',
 'Magnolia (1999)',
 'Minority Report (2002)',
 'Election (1999)',
 'Babe (1995)',
 'Crimson Tide (1995)',
 'Leaving Las Vegas (1995)',
 'Dogma (1999)',
 'Lethal Weapon (1987)',
 'Hangover, The (2009)',
 'Philadelphia (1993)',
 'Royal Tenenbaums, The (2001)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Italian Job, The (2003)',
 'Best in Show (2000)',
 'Clear and Present Danger (1994)',
 'Avatar (2009)',
 'Grosse Pointe Blank (1997)',
 'Jerry Maguire (1996)',
 'Snow White and the Seven Dwarfs (1937)',
 '40-Year-Old Virgin, The (2005)',
 'Erin Brockovich (2000)',
 'Crow, The (1994)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Knocked Up (2007)',
 'Galaxy Quest (1999)',
 'Chasing Amy (1997)',
 'Piano, The (1993)',
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Die Hard: With a Vengeance (1995)',
 'Austin Powers: International Man of Mystery (1997)',
 'Who Framed Roger Rabbit? (1988)',
 'Goonies, The (1985)',
 'Almost Famous (2000)',
 'Mission: Impossible (1996)',
 'Four Weddings and a Funeral (1994)',
 'From Dusk Till Dawn (1996)',
 'Maverick (1994)',
 'Romancing the Stone (1984)',
 'Quiz Show (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Firm, The (1993)',
 'Dave (1993)',
 'Zoolander (2001)',
 'Shrek 2 (2004)',
 'Desperado (1995)',
 'Chicken Run (2000)',
 'Speed (1994)',
 'Predator (1987)',
 'Disclosure (1994)',
 'GoldenEye (1995)',
 '10 Things I Hate About You (1999)',
 'Enemy of the State (1998)',
 'Rushmore (1998)',
 'Eyes Wide Shut (1999)',
 'Spider-Man (2002)',
 "Bug's Life, A (1998)",
 'Little Mermaid, The (1989)',
 'Get Shorty (1995)',
 'Field of Dreams (1989)',
 'Super Size Me (2004)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Moulin Rouge (2001)',
 'True Lies (1994)',
 'Gangs of New York (2002)',
 'Wedding Crashers (2005)',
 'Sleepless in Seattle (1993)',
 'Back to the Future Part II (1989)',
 "Wayne's World (1992)",
 'Beetlejuice (1988)',
 'Sleepy Hollow (1999)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Unbreakable (2000)',
 'Birdcage, The (1996)',
 'While You Were Sleeping (1995)',
 'Pretty Woman (1990)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Batman (1989)',
 'I Am Legend (2007)',
 'I, Robot (2004)',
 'Happy Gilmore (1996)',
 'Meet the Parents (2000)',
 'Pleasantville (1998)',
 'Spaceballs (1987)',
 'Kung Fu Panda (2008)',
 'Ghost (1990)',
 'Pinocchio (1940)',
 'The Hunger Games (2012)',
 'Die Hard 2 (1990)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Outbreak (1995)',
 "Pirates of the Caribbean: At World's End (2007)",
 'Abyss, The (1989)',
 'Jumanji (1995)',
 'Notting Hill (1999)',
 'Patriot, The (2000)',
 'Titanic (1997)',
 'Truth About Cats & Dogs, The (1996)',
 "The Devil's Advocate (1997)",
 'RoboCop (1987)',
 'Star Trek: Generations (1994)',
 'X-Men: The Last Stand (2006)',
 'Tron (1982)',
 'Mrs. Doubtfire (1993)',
 'Legends of the Fall (1994)',
 'Lady and the Tramp (1955)',
 'Face/Off (1997)',
 'Wedding Singer, The (1998)',
 'Client, The (1994)',
 'Back to the Future Part III (1990)',
 'School of Rock (2003)',
 'Bruce Almighty (2003)',
 'Air Force One (1997)',
 'Hook (1991)',
 'Stargate (1994)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Matrix Reloaded, The (2003)',
 'Twister (1996)',
 'American Pie (1999)',
 'A.I. Artificial Intelligence (2001)',
 'Blade (1998)',
 'Three Musketeers, The (1993)',
 'Rocky Horror Picture Show, The (1975)',
 'Top Gun (1986)',
 'Starship Troopers (1997)',
 'Grumpier Old Men (1995)',
 'Clueless (1995)',
 'Mr. & Mrs. Smith (2005)',
 'Natural Born Killers (1994)',
 'Bad Boys (1995)',
 'My Cousin Vinny (1992)',
 'My Big Fat Greek Wedding (2002)',
 'Gone in 60 Seconds (2000)',
 'Signs (2002)',
 'Scream (1996)',
 'Matrix Revolutions, The (2003)',
 'Santa Clause, The (1994)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'What Women Want (2000)',
 'Sabrina (1995)',
 'War of the Worlds (2005)',
 'Grease (1978)',
 'Mask, The (1994)',
 'Crocodile Dundee (1986)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Legally Blonde (2001)',
 'Pocahontas (1995)',
 'Robin Hood: Men in Tights (1993)',
 "You've Got Mail (1998)",
 'Splash (1984)',
 'Addams Family Values (1993)',
 'Mummy, The (1999)',
 'Eraser (1996)',
 'Mars Attacks! (1996)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Mask of Zorro, The (1998)',
 'First Knight (1995)',
 'Day After Tomorrow, The (2004)',
 'Miss Congeniality (2000)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Demolition Man (1993)',
 'Armageddon (1998)',
 'Dragonheart (1996)',
 'Ace Ventura: Pet Detective (1994)',
 'Con Air (1997)',
 'Cliffhanger (1993)',
 'Liar Liar (1997)',
 'Broken Arrow (1996)',
 'Net, The (1995)',
 'Batman Returns (1992)',
 'Home Alone (1990)',
 'Charlie and the Chocolate Factory (2005)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Last Action Hero (1993)',
 'Batman Forever (1995)',
 'Waterworld (1995)',
 'Congo (1995)',
 'Scary Movie (2000)',
 'Hot Shots! Part Deux (1993)',
 'Cable Guy, The (1996)',
 'Austin Powers in Goldmember (2002)',
 'Arachnophobia (1990)',
 'Blair Witch Project, The (1999)',
 'Casper (1995)',
 'Honey, I Shrunk the Kids (1989)',
 'Lost World: Jurassic Park, The (1997)',
 "Charlie's Angels (2000)",
 'Nutty Professor, The (1996)',
 'Mission: Impossible II (2000)',
 'Ace Ventura: When Nature Calls (1995)',
 'Space Jam (1996)',
 'Beverly Hills Cop III (1994)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Coneheads (1993)',
 'American Psycho (2000)',
 'Wild Wild West (1999)']

In [ ]:
user_recommendations = [movie for movie in recommendables if movie not in user_initial_ratings_list]
user_recommendations

['Shawshank Redemption, The (1994)',
 'Godfather, The (1972)',
 'Rear Window (1954)',
 'Fight Club (1999)',
 'Cool Hand Luke (1967)',
 'Godfather: Part II, The (1974)',
 'Goodfellas (1990)',
 'Casablanca (1942)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Reservoir Dogs (1992)',
 "Schindler's List (1993)",
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Chinatown (1974)',
 'American History X (1998)',
 'Departed, The (2006)',
 'Apocalypse Now (1979)',
 'Matrix, The (1999)',
 'Dark Knight, The (2008)',
 'Usual Suspects, The (1995)',
 'Princess Bride, The (1987)',
 'Amadeus (1984)',
 "One Flew Over the Cuckoo's Nest (1975)",
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
 'Pulp Fiction (1994)',
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
 'Monty Python and the Holy Grail (1975)',
 'North by Northwest (1959)',
 'Forrest Gump (1994)',
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
 'Brazil (1985)',
 'Eternal Sunshine of the Spotless Mind (2004)',
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
 'Green Mile, The (1999)',
 '12 Angry Men (1957)',
 'Inglourious Basterds (2009)',
 'Saving Private Ryan (1998)',
 'City of God (Cidade de Deus) (2002)',
 'Silence of the Lambs, The (1991)',
 'Blade Runner (1982)',
 'Toy Story 3 (2010)',
 'Lord of the Rings: The Return of the King, The (2003)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Life Is Beautiful (La Vita è bella) (1997)',
 'Memento (2000)',
 'Snatch (2000)',
 'Full Metal Jacket (1987)',
 'To Kill a Mockingbird (1962)',
 'Fargo (1996)',
 'Lord of the Rings: The Fellowship of the Ring, The (2001)',
 'Shining, The (1980)',
 'Office Space (1999)',
 'Graduate, The (1967)',
 'L.A. Confidential (1997)',
 'Taxi Driver (1976)',
 'Lost in Translation (2003)',
 'American Beauty (1999)',
 'Good Will Hunting (1997)',
 'Inception (2010)',
 "It's a Wonderful Life (1946)",
 'Citizen Kane (1941)',
 'Indiana Jones and the Last Crusade (1989)',
 'Trainspotting (1996)',
 'Lock, Stock & Two Smoking Barrels (1998)',
 'WALL·E (2008)',
 'Lord of the Rings: The Two Towers, The (2002)',
 'Stand by Me (1986)',
 'Psycho (1960)',
 'Dark Knight Rises, The (2012)',
 'Wallace & Gromit: The Wrong Trousers (1993)',
 'Guardians of the Galaxy (2014)',
 'Back to the Future (1985)',
 "King's Speech, The (2010)",
 'Army of Darkness (1993)',
 'Up (2009)',
 'Braveheart (1995)',
 'Run Lola Run (Lola rennt) (1998)',
 'Vertigo (1958)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Jaws (1975)',
 'Hot Fuzz (2007)',
 'Shutter Island (2010)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Some Like It Hot (1959)',
 'Prestige, The (2006)',
 'Clockwork Orange, A (1971)',
 'Beautiful Mind, A (2001)',
 'Young Frankenstein (1974)',
 'Raising Arizona (1987)',
 'Sting, The (1973)',
 'Social Network, The (2010)',
 'Platoon (1986)',
 'This Is Spinal Tap (1984)',
 'Interstellar (2014)',
 'The Imitation Game (2014)',
 'Shaun of the Dead (2004)',
 'Terminator 2: Judgment Day (1991)',
 'Lion King, The (1994)',
 'Dead Poets Society (1989)',
 'Kill Bill: Vol. 1 (2003)',
 'Finding Nemo (2003)',
 'Children of Men (2006)',
 'Aliens (1986)',
 'Alien (1979)',
 '28 Days Later (2002)',
 'Donnie Darko (2001)',
 'Fugitive, The (1993)',
 'Christmas Story, A (1983)',
 'Seven (a.k.a. Se7en) (1995)',
 'Butch Cassidy and the Sundance Kid (1969)',
 'Being John Malkovich (1999)',
 'Untouchables, The (1987)',
 'Serenity (2005)',
 'Scarface (1983)',
 'Groundhog Day (1993)',
 'Requiem for a Dream (2000)',
 'Big Lebowski, The (1998)',
 'Toy Story (1995)',
 'Blazing Saddles (1974)',
 'Django Unchained (2012)',
 "Monty Python's Life of Brian (1979)",
 'Catch Me If You Can (2002)',
 'Casino Royale (2006)',
 'Gladiator (2000)',
 'How to Train Your Dragon (2010)',
 'Heat (1995)',
 'Wolf of Wall Street, The (2013)',
 'Gattaca (1997)',
 'Fish Called Wanda, A (1988)',
 'V for Vendetta (2006)',
 'Star Trek (2009)',
 'Harry Potter and the Deathly Hallows: Part 2 (2011)',
 'Harry Potter and the Order of the Phoenix (2007)',
 'Ratatouille (2007)',
 'Sound of Music, The (1965)',
 'Casino (1995)',
 'Harry Potter and the Prisoner of Azkaban (2004)',
 'Sixth Sense, The (1999)',
 'Harry Potter and the Half-Blood Prince (2009)',
 'Wizard of Oz, The (1939)',
 'Shrek (2001)',
 'Little Miss Sunshine (2006)',
 'Crash (2004)',
 'Mary Poppins (1964)',
 'Star Trek: First Contact (1996)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'No Country for Old Men (2007)',
 'Avengers, The (2012)',
 'Die Hard (1988)',
 'Terminator, The (1984)',
 'Willy Wonka & the Chocolate Factory (1971)',
 'Superbad (2007)',
 'Last Samurai, The (2003)',
 'Annie Hall (1977)',
 'Jungle Book, The (1967)',
 "Ferris Bueller's Day Off (1986)",
 'Dances with Wolves (1990)',
 'Hunt for Red October, The (1990)',
 'Traffic (2000)',
 'Apollo 13 (1995)',
 'Caddyshack (1980)',
 'Bourne Identity, The (2002)',
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
 'Truman Show, The (1998)',
 'Monsters, Inc. (2001)',
 'Kill Bill: Vol. 2 (2004)',
 'Toy Story 2 (1999)',
 'Blues Brothers, The (1980)',
 'Batman Begins (2005)',
 'Million Dollar Baby (2004)',
 'Airplane! (1980)',
 'Black Hawk Down (2001)',
 'Zombieland (2009)',
 "Ocean's Eleven (2001)",
 'Dead Man Walking (1995)',
 'Sherlock Holmes (2009)',
 'Sin City (2005)',
 'Deadpool (2016)',
 'Big Fish (2003)',
 'Spider-Man 2 (2004)',
 'O Brother, Where Art Thou? (2000)',
 'Fantasia (1940)',
 'Clerks (1994)',
 'Exorcist, The (1973)',
 'Iron Man (2008)',
 'Goldfinger (1964)',
 'Tombstone (1993)',
 'When Harry Met Sally... (1989)',
 'Harry Potter and the Goblet of Fire (2005)',
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
 'E.T. the Extra-Terrestrial (1982)',
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
 'Shakespeare in Love (1998)',
 'Star Trek II: The Wrath of Khan (1982)',
 'Slumdog Millionaire (2008)',
 'Incredibles, The (2004)',
 'Blow (2001)',
 'Aladdin (1992)',
 'Anchorman: The Legend of Ron Burgundy (2004)',
 'Sense and Sensibility (1995)',
 'Bowling for Columbine (2002)',
 'Tommy Boy (1995)',
 'Few Good Men, A (1992)',
 'Close Encounters of the Third Kind (1977)',
 'True Romance (1993)',
 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
 'District 9 (2009)',
 'Love Actually (2003)',
 'Rain Man (1988)',
 'Breakfast Club, The (1985)',
 'Beauty and the Beast (1991)',
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
 "What's Eating Gilbert Grape (1993)",
 'Mystic River (2003)',
 'Planet of the Apes (1968)',
 'Fifth Element, The (1997)',
 'Donnie Brasco (1997)',
 'Bourne Supremacy, The (2004)',
 'Grand Budapest Hotel, The (2014)',
 'Juno (2007)',
 'Mulholland Drive (2001)',
 'Blood Diamond (2006)',
 'Jurassic Park (1993)',
 'Rocky (1976)',
 'Full Monty, The (1997)',
 'Training Day (2001)',
 'X2: X-Men United (2003)',
 'Big (1988)',
 "Mr. Holland's Opus (1995)",
 'Ice Age (2002)',
 'Skyfall (2012)',
 "There's Something About Mary (1998)",
 'Animal House (1978)',
 "Bridget Jones's Diary (2001)",
 '300 (2007)',
 'Edward Scissorhands (1990)',
 'As Good as It Gets (1997)',
 'In the Line of Fire (1993)',
 'Game, The (1997)',
 'Ed Wood (1994)',
 'American President, The (1995)',
 'Cast Away (2000)',
 'X-Men (2000)',
 'Contact (1997)',
 'Bourne Ultimatum, The (2007)',
 'Total Recall (1990)',
 'High Fidelity (2000)',
 'Superman (1978)',
 'Others, The (2001)',
 'Rock, The (1996)',
 'Magnolia (1999)',
 'Minority Report (2002)',
 'Election (1999)',
 'Babe (1995)',
 'Crimson Tide (1995)',
 'Leaving Las Vegas (1995)',
 'Dogma (1999)',
 'Lethal Weapon (1987)',
 'Hangover, The (2009)',
 'Philadelphia (1993)',
 'Royal Tenenbaums, The (2001)',
 'Indiana Jones and the Temple of Doom (1984)',
 'Italian Job, The (2003)',
 'Best in Show (2000)',
 'Clear and Present Danger (1994)',
 'Avatar (2009)',
 'Grosse Pointe Blank (1997)',
 'Jerry Maguire (1996)',
 'Snow White and the Seven Dwarfs (1937)',
 '40-Year-Old Virgin, The (2005)',
 'Erin Brockovich (2000)',
 'Crow, The (1994)',
 'Harry Potter and the Chamber of Secrets (2002)',
 'Knocked Up (2007)',
 'Galaxy Quest (1999)',
 'Chasing Amy (1997)',
 'Piano, The (1993)',
 "Pirates of the Caribbean: Dead Man's Chest (2006)",
 'Die Hard: With a Vengeance (1995)',
 'Austin Powers: International Man of Mystery (1997)',
 'Who Framed Roger Rabbit? (1988)',
 'Goonies, The (1985)',
 'Mission: Impossible (1996)',
 'Four Weddings and a Funeral (1994)',
 'From Dusk Till Dawn (1996)',
 'Maverick (1994)',
 'Romancing the Stone (1984)',
 'Quiz Show (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Firm, The (1993)',
 'Dave (1993)',
 'Zoolander (2001)',
 'Shrek 2 (2004)',
 'Desperado (1995)',
 'Chicken Run (2000)',
 'Speed (1994)',
 'Predator (1987)',
 'Disclosure (1994)',
 'GoldenEye (1995)',
 '10 Things I Hate About You (1999)',
 'Enemy of the State (1998)',
 'Rushmore (1998)',
 'Eyes Wide Shut (1999)',
 'Spider-Man (2002)',
 "Bug's Life, A (1998)",
 'Little Mermaid, The (1989)',
 'Get Shorty (1995)',
 'Field of Dreams (1989)',
 'Super Size Me (2004)',
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
 'Moulin Rouge (2001)',
 'True Lies (1994)',
 'Gangs of New York (2002)',
 'Wedding Crashers (2005)',
 'Sleepless in Seattle (1993)',
 'Back to the Future Part II (1989)',
 "Wayne's World (1992)",
 'Beetlejuice (1988)',
 'Sleepy Hollow (1999)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Men in Black (a.k.a. MIB) (1997)',
 'Unbreakable (2000)',
 'Birdcage, The (1996)',
 'While You Were Sleeping (1995)',
 'Pretty Woman (1990)',
 'Independence Day (a.k.a. ID4) (1996)',
 'Batman (1989)',
 'I Am Legend (2007)',
 'I, Robot (2004)',
 'Happy Gilmore (1996)',
 'Meet the Parents (2000)',
 'Pleasantville (1998)',
 'Spaceballs (1987)',
 'Kung Fu Panda (2008)',
 'Ghost (1990)',
 'Pinocchio (1940)',
 'The Hunger Games (2012)',
 'Die Hard 2 (1990)',
 'Star Wars: Episode III - Revenge of the Sith (2005)',
 'Outbreak (1995)',
 "Pirates of the Caribbean: At World's End (2007)",
 'Abyss, The (1989)',
 'Jumanji (1995)',
 'Notting Hill (1999)',
 'Patriot, The (2000)',
 'Titanic (1997)',
 'Truth About Cats & Dogs, The (1996)',
 "The Devil's Advocate (1997)",
 'RoboCop (1987)',
 'Star Trek: Generations (1994)',
 'X-Men: The Last Stand (2006)',
 'Tron (1982)',
 'Mrs. Doubtfire (1993)',
 'Legends of the Fall (1994)',
 'Lady and the Tramp (1955)',
 'Face/Off (1997)',
 'Wedding Singer, The (1998)',
 'Client, The (1994)',
 'Back to the Future Part III (1990)',
 'School of Rock (2003)',
 'Bruce Almighty (2003)',
 'Air Force One (1997)',
 'Hook (1991)',
 'Stargate (1994)',
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
 'Matrix Reloaded, The (2003)',
 'Twister (1996)',
 'American Pie (1999)',
 'A.I. Artificial Intelligence (2001)',
 'Blade (1998)',
 'Three Musketeers, The (1993)',
 'Rocky Horror Picture Show, The (1975)',
 'Top Gun (1986)',
 'Starship Troopers (1997)',
 'Grumpier Old Men (1995)',
 'Clueless (1995)',
 'Mr. & Mrs. Smith (2005)',
 'Natural Born Killers (1994)',
 'Bad Boys (1995)',
 'My Cousin Vinny (1992)',
 'My Big Fat Greek Wedding (2002)',
 'Gone in 60 Seconds (2000)',
 'Signs (2002)',
 'Scream (1996)',
 'Matrix Revolutions, The (2003)',
 'Santa Clause, The (1994)',
 'Austin Powers: The Spy Who Shagged Me (1999)',
 'What Women Want (2000)',
 'Sabrina (1995)',
 'War of the Worlds (2005)',
 'Grease (1978)',
 'Mask, The (1994)',
 'Crocodile Dundee (1986)',
 'Star Wars: Episode II - Attack of the Clones (2002)',
 'Legally Blonde (2001)',
 'Pocahontas (1995)',
 'Robin Hood: Men in Tights (1993)',
 "You've Got Mail (1998)",
 'Splash (1984)',
 'Addams Family Values (1993)',
 'Mummy, The (1999)',
 'Eraser (1996)',
 'Mars Attacks! (1996)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Mask of Zorro, The (1998)',
 'First Knight (1995)',
 'Day After Tomorrow, The (2004)',
 'Miss Congeniality (2000)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Demolition Man (1993)',
 'Armageddon (1998)',
 'Dragonheart (1996)',
 'Ace Ventura: Pet Detective (1994)',
 'Con Air (1997)',
 'Cliffhanger (1993)',
 'Liar Liar (1997)',
 'Broken Arrow (1996)',
 'Net, The (1995)',
 'Batman Returns (1992)',
 'Home Alone (1990)',
 'Charlie and the Chocolate Factory (2005)',
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
 'Last Action Hero (1993)',
 'Batman Forever (1995)',
 'Waterworld (1995)',
 'Congo (1995)',
 'Scary Movie (2000)',
 'Hot Shots! Part Deux (1993)',
 'Cable Guy, The (1996)',
 'Austin Powers in Goldmember (2002)',
 'Arachnophobia (1990)',
 'Blair Witch Project, The (1999)',
 'Casper (1995)',
 'Honey, I Shrunk the Kids (1989)',
 'Lost World: Jurassic Park, The (1997)',
 "Charlie's Angels (2000)",
 'Nutty Professor, The (1996)',
 'Mission: Impossible II (2000)',
 'Ace Ventura: When Nature Calls (1995)',
 'Space Jam (1996)',
 'Beverly Hills Cop III (1994)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Coneheads (1993)',
 'Wild Wild West (1999)']

In [1]:
import pandas as pd
import numpy as np
import pickle
from matplotlib import pyplot as plt

import warnings
warnings.filterwarnings(action='ignore')

from sklearn.decomposition import NMF

In [2]:
user_query = {
    '2001: A Space Odyssey (1968)': 5,
    'American Psycho (2000)': 2,
    'Almost Famous (2000)': 3.5
}

In [3]:
from recommender import NMF_recommender, random_recommender, RATINGS, NMF_model
ratings_matrix = RATINGS
RATINGS

,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,4.000000,3.040373,2.727273,...,5.00000,5.000000,3.916667,5.000000,3.355769,3.723684,3.12,5.000000,3.877358,3.509259
2,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,5.000000,3.699248,3.355769,3.723684,3.12,3.992754,3.000000,3.509259
3,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,0.50,3.992754,3.877358,3.509259
4,3.527778,5.000000,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,4.00000,5.000000,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
5,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.000000,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,3.527778,4.149123,5.000000,3.974138,3.68125,3.547297,3.500000,3.475806,3.040373,2.000000,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.50,3.500000,3.877358,3.509259
607,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,5.000000,3.916667,3.000000,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
608,3.527778,4.149123,3.000000,3.500000,5.00000,3.547297,4.500000,3.000000,3.500000,2.000000,...,3.50000,2.500000,3.916667,4.000000,4.000000,4.000000,3.12,3.992754,3.877358,3.000000
609,3.527778,4.149123,3.894495,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259
610,3.527778,4.149123,4.500000,5.000000,4.00000,4.500000,3.500000,4.000000,3.000000,2.727273,...,3.87395,3.500000,4.500000,3.500000,3.000000,4.000000,3.12,3.992754,3.500000,4.000000

In [4]:
MOVIES = ratings_matrix.columns
user_query_list = list(user_query.keys())

imputed_query = pd.DataFrame(user_query, index = ['new_user'], columns= MOVIES)
imputed_query.fillna(value = ratings_matrix.mean(), inplace= True)
imputed_query

,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
new_user,3.527778,4.149123,5,3.974138,3.68125,3.547297,3.339286,3.475806,3.040373,2.727273,...,3.87395,3.880435,3.916667,3.699248,3.355769,3.723684,3.12,3.992754,3.877358,3.509259

In [5]:
NMF_recommender(user_query, RATINGS, NMF_model, 5)

['Shawshank Redemption, The (1994)',
 'Godfather, The (1972)',
 'Rear Window (1954)',
 'Fight Club (1999)',
 'Cool Hand Luke (1967)']